.App {
  text-align: center;
}

/* Primary Button */
.btn-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #3b82f6;
}

/* Secondary Button */
.btn-secondary {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn-secondary:hover {
  background-color: #e5e7eb;
}

/* Spacing utilities */
.spacing-xs {
  margin-top: 4px;
  margin-bottom: 4px;
}

.spacing-sm {
  margin-top: 8px;
  margin-bottom: 8px;
}

.spacing-md {
  margin-top: 16px;
  margin-bottom: 16px;
}

.spacing-lg {
  margin-top: 32px;
  margin-bottom: 32px;
}

/* Text utilities */
.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

/* Flex utilities */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Card styles */

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-item {
  width: 70%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  text-overflow: clip;
  align-items: center;
  overflow: hidden;
  height: 20rem;
  margin: 1rem;
}
.img-container {
  display: flex;
  justify-content: center;
}
.card-item div {
  margin: 1rem;
}
.description {
  text-align: start;
  display: -webkit-box; /* нужно для line-clamp */
  -webkit-line-clamp: 12; /* максимум 3 строки */
  -webkit-box-orient: vertical; /* вертикальное направление */
  overflow: hidden; /* скрыть лишний текст */
  text-overflow: ellipsis; /* добавить "..." */
}

.card-item img {
  height: 15rem;
  object-fit: contain;
  margin: 1rem;
}

.content {
  transition: margin-left 0.4s ease-in-out;
}

.content.shifted {
  margin-left: 250px;
}
